*,
*::after,
*::before {
margin: 0;
box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    background: rgb(161, 114, 11);
}
.brand {
    text-transform: uppercase;
    font-weight: bold;
    margin: 1%;
}
.link {
    display: flex;
    align-items: center;
    margin: 1%;
}
