.container {
    margin-left: 20%;
    margin-top: 10%;
}

.contact_form {
    display: flex;
    justify-content: center;
}
@mixin form {
  margin-left: 15%;
    width: 60%;
    display: flex;
}

.firstname {
  @include form;
}
.lastname {
   @include form;
}
.phonenumber {
   @include form;
}
.email {
    @include form;
}
.message {
    @include form;
}
.submit {
    margin-top: 1.5%;
    margin-left: 35%;
    width: 15%;
}