.firstname {
    margin-left: 15%;
    width: 55%;
    display: flex;
}
.lastname {
    margin-left: 15%;
    width: 55%;
    display: flex;
}
.phonenumber {
    margin-left: 15%;
    width: 55%;
    display: flex;
}
.email {
    margin-left: 15%;
    width: 55%;
    display: flex;
}
.message {
    margin-left: 15%;
    width: 55%;
    display: flex;
}
.submit {
    margin-left: 35%;
    margin-bottom: 1.8%;
    width: 15%;
}