.card {
    margin-left: 30%;
    width: 250px;
    background-color: rgb(161, 114, 11);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
    color: darkgrey;
    font-size: 1.6rem;
    text-align: center;
    text-shadow: 0 0 5px gray;
}
.cardImg {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    background-color: lightyellow;
    border-radius: inherit;
    box-shadow: inherit;
}
.cardTitle {
    font-size: 100%;
}
.cardDescription {
    font-size: 100%;
    color: black;
}
